html,
body {
		color: rgb(180, 180, 180);
		background-color: rgb(1, 1, 1);
		/* font-family: Consolas, Menlo, 'DejaVu Sans Mono', monospace; */
		font-family: 'Noto Sans Mono CJK TC', 'Menlo', 'Consolas', 'Courier New', monospace; 
		font-size: 18px;
}

a,
a.visited {
	color: inherit;
	text-decoration: none;
}

pre,code {
	color: inherit;
	text-decoration: none;
}

table, tr, th ,td ,tr:nth-child(even),tr:nth-child(odd){
	color: rgb(120, 120, 120);
	background-color: rgb(1, 1, 1);
	text-decoration: none;
}
